
img {
    max-width:100%;
    width: 100vh
}

.page1 {
    background-image: url("img/world-globe-tyjrsnehdnbzey0v.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
    
}

.page3 {
    background-image: url("img/turkey.webp");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}

.page4 {
    background-image: url("img/ferry.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}

.page5 {
    background-image: url("img/kiz-kulesi.webp");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}

.page7 {
    background-image: url("img/GalataTower.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}

.page10 {
    background-image: url("img/YeniMosque.jpeg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}

.amazingrace {
    background: #ffbf29;
    border: 5px black solid;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.logo {
    max-width:100%;
    width: 100vh;
    display:flex;
    justify-content:center;
    padding:10px;
}

.intro {
    background:#ffbf29;
    border: 5px solid black;
    padding: 10px;
    width: 100vh; 
    height: 30vh;
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cluecard {
    max-width:100%;
    width: 20vh;
    border:2px black solid;
    margin-top: 10px;
    justify-content:center;  
}

.button {
    max-width:100%;
    width: 10vh;
    margin-top: 10px;
    justify-content:center; 
}

.who {
    display: flex;
    flex-direction: row;
}

.button1 {
    max-width:100%;
    width: 20vh;
    margin-top: 10px;
    justify-content:center;
    color:black;
    text-decoration: none;
}


.infocard {
    background:#ffbf29;
    border: 5px solid black;
    padding: 10px;
    width: 100vh; 
    height: 30vh;
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}




